*{
    box-sizing: border-box;
    font-family: 'Raleway';
}

html{
    width: 100vw;
    background-color: #f7f5eb;
}

.titulos{
    text-align: center;
    font-size: 2rem;
    color: #555555;
}

footer{
    background-color: #fff;
}

header{
    background-color: #f8f8f8;
}

.main{
    background-color: #f8f8f8;
}

.container{
    margin: 0 1rem;
}