.contacto{
    display: flex;
    flex-direction: column;
    background-color: #f7f5eb;
    align-items: center;
}

.contacto__text{
    display: flex;
    flex-direction: column;
    
}

.contacto__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: .5rem;
}

.contacto__info{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #555555;
}

.form__contacto{
    display: flex;
    flex-direction: column;
   
}

.text__label{
    font-size: .85rem;
    color: #919191;
    font-weight: 500;
    padding: .5rem 0 .5rem 1rem;
}

.text__contacto{
    border: none;
    height: 2rem;
    margin: 0 0 .5rem 1rem;
}

.text__mensaje{
    height: 10rem;
    resize: none;
}

.form__contacto__cajas{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-radius: .5rem .5rem 0 0;   
    background-color: #fff;
    margin-bottom: 2rem;
}

::placeholder{
    color: #919191;
    font-weight: 500;
}

.form__contacto__cajas-enviar{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.boton-submit{
    border-color: #e4b61e;
    background-color: #e4b61e;
    border-radius: .5rem;
    border-style: solid;
    color: #fff;
    font-weight: 400;
    padding: .75rem;
    width: 10rem;
}